@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: white;
  box-shadow: 0px 0.5px 80px rgba(0, 0, 0, 0.1);
  z-index: 999;
  animation-name: moveDown;
  animation-duration: 1s;
}

.gotop {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #27ae60;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 20px;
  animation-name: fade;
  animation-duration: 1s;
}

.logo {
  margin-top: 5px;
  cursor: pointer;
}
.logo:hover {
  opacity: 0.5;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  z-index: 999;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  opacity: 0.5;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.burger:hover {
  opacity: 0.7;
}

.profile-picture {
  background-image: url("./src/profile/profile.jpg");
  background-size: 255px 255px, cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5vh;
  animation-name: fade;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.hello {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hello-text {
  text-align: center;
  margin: 50px;
}

h1 {
  margin: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  animation-name: fade;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

h2 {
  animation-name: fade;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

.scroll {
  width: 100%;
  text-align: center;
  bottom: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  animation-name: fade;
  animation-duration: 2s;
  animation-delay: 2.3s;
  animation-fill-mode: backwards;
}

.main-container ul {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  height: 30vh;
}

#skills li {
  color: black;
  display: inline-flex;
  justify-content: center;
  width: 40%;
  text-align: center;
}

#skills h2 {
  padding: 30px;
}
#skills svg {
  margin-top: 30px;
}

.button {
  transform: scale(1);
  transition: transform 0.2s ease-in;
  border-radius: 30px;
  border: solid black 2px;
  padding: 20px;
  margin-top: 40px;
  width: 250px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
.button:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.2s ease-in;
}

.project01,
.project02,
.project03,
.project04,
.project05,
.project06,
.project07,
.project08 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 60px; */
  background-color: #f1f1f1;
}
.project02 {
  background-color: white;
}
.project03 {
  background-color: #f1f1f1;
}
.project04 {
  background-color: white;
}
.project05 {
  background-color: #f1f1f1;
}
.project06 {
  background-color: white;
}
.project07 {
  background-color: #f1f1f1;
}
.project08 {
  background-color: white;
}

h3,
p {
  margin-bottom: 40px;
  font-size: 1.5em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8em;
  opacity: 0;
  transform: translateY(-50px);
  transition: transform 1s 0.35s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.35s ease-out;
  will-change: transform, opacity;
}

h3.is-visible {
  opacity: 1;
  transform: translateY(0px);
}

p.is-visible {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.7s;
}

.buttons01 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.picture01,
.picture02,
.picture03,
.picture04,
.picture05,
.picture06,
.picture07,
.picture08 {
  margin-left: 100px;
  height: 40vw;
  width: 40vw;
  background: url(./src/apps_pictures/pokedex_app.png) no-repeat center center;
  background-size: contain;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 2s 0.35s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.35s ease-out;
  will-change: transform, opacity;
}

.picture01.is-visible,
.picture02.is-visible,
.picture03.is-visible,
.picture04.is-visible,
.picture05.is-visible,
.picture06.is-visible,
.picture07.is-visible,
.picture08.is-visible {
  opacity: 1;
  transform: translateX(0%);
}

.picture02 {
  background: url(./src/apps_pictures/weather_app.png) no-repeat center center;
  background-size: contain;
}
.picture03 {
  background: url(./src/apps_pictures/movie_app.png) no-repeat center center;
  background-size: contain;
}
.picture04 {
  background: url(./src/apps_pictures/meditation_app.png) no-repeat center
    center;
  background-size: contain;
}
.picture05 {
  background: url(./src/apps_pictures/rock.png) no-repeat center center;
  background-size: contain;
}

.picture06 {
  background: url(./src/apps_pictures/calc_app.png) no-repeat center center;
  background-size: contain;
}
.picture07 {
  background: url(./src/apps_pictures/26.png) no-repeat center center;
  background-size: contain;
}
.picture08 {
  background: url(./src/apps_pictures/milion.png) no-repeat center center;
  background-size: contain;
}

.right01 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

.button1,
.button2 {
  outline: none;
  margin: 30px;
  width: 180px;
  height: 60px;
  border: none;
  border-radius: 40px;
  background-color: rgb(88, 88, 88);
  border: 3px solid rgb(88, 88, 88);
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s ease-out;
  opacity: 0;
  transform: translateY(50%);
  transition: transform 4s 0.35s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.35s ease-out;
  will-change: transform, opacity;
}

.button2.is-visible {
  background-color: transparent;
  border: 3px solid rgb(88, 88, 88);
  color: black;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0.7s;
}
.button1.is-visible {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0.3s;
}

.button1:hover {
  transition: 0.3s ease-out;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition-delay: 0s;
}
.button2 {
  background-color: transparent;
  border: 3px solid rgb(88, 88, 88);
  color: black;
}

.button2:hover {
  transition: 0.3s ease-out;
  background-color: rgb(88, 88, 88);
  color: white;
  cursor: pointer;
  transition-delay: 0s;
}

.about {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.profile_about {
  width: 350px;
  height: 350px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.6);
  opacity: 0;
  will-change: opacity;
}

.profile_about.is-visible {
  opacity: 1;
  transition: opacity 1s 0.35s ease-out;
}

.about {
  width: 100%;
  display: flex;
}

.about_left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_right {
  width: 50%;
}

.about_text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h4.bio_title {
  font-size: 1.8em;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  opacity: 0;
  will-change: opacity;
}
.bio_title.is-visible {
  opacity: 1;
  transition: opacity 1s 0.85s ease-out;
}

h4.bio {
  text-align: center;
  font-size: 1.4em;
  line-height: 2em;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  opacity: 0;
  will-change: opacity;
}

.bio.is-visible {
  opacity: 1;
  transition: opacity 1s 1.25s ease-out;
}

.network {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face,
.git {
  opacity: 0;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 145, 0);
  margin: 15px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.face {
  background: url(./src/icons/facebook.png) center center no-repeat;
  background-size: cover;
}
.git {
  background: url(./src/icons/github.png) center center no-repeat;
  background-size: cover;
}

.face.is-visible {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.3s ease, opacity 1s 1.55s ease-out;
}
.git.is-visible {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.3s ease, opacity 1s 1.95s ease-out;
}
.face:hover,
.git:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: white;
}
.form_container {
  opacity: 0;
  border-radius: 10px;
  background-color: f1f1f1;
  width: 40%;
  height: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  will-change: opacity;
}

.form_container.is-visible {
  opacity: 1;
  transition: opacity 1s 0.35s ease-out;
}

.contact {
  width: 60%;
}

.contact_me {
  margin-bottom: 50px;
  font-size: 1.5em;
  font-weight: bold;
}

input,
textarea {
  display: inline-block;
  width: 100%;
  margin-left: 15px;
  align-items: center;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  resize: none;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  border: rgb(187, 187, 187) 1px solid;
}
input {
  height: 35px;
}
#envelope {
  align-items: flex-start;
}

#send {
  height: 50px;
  width: 150px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.1em;
  opacity: 1;
  margin: 0;
}

.inputwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.fa-pen {
  padding-top: 5px;
}
@media screen and (max-width: 1175px) {
  body {
    overflow-x: hidden;
  }

  h1 {
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
  h2 {
    margin-bottom: 10vh;
  }
  .nav-links {
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  .hello {
    display: block;
  }
  .profile-picture {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .main-container ul {
    display: block;
    justify-content: center;
  }

  #skills li {
    color: black;
    display: block;
    justify-content: center;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .form_container {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .project01,
  .project02,
  .project03,
  .project04,
  .project05,
  .project06,
  .project07,
  .project08 {
    padding-top: 50px;
    display: block;
  }
  .picture01,
  .picture02,
  .picture03,
  .picture04,
  .picture05,
  .picture06,
  .picture07,
  .picture08 {
    width: 70%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .right01,
  .right02,
  .right03,
  .right04,
  .right05,
  .right06,
  .right07,
  .right08 {
    display: block;
    text-align: center;
    width: 95%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  h3 {
    margin-top: 30px;
  }
  .about {
    display: block;
  }
  .about_left,
  .about_right {
    width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  nav {
    height: 50px;
  }
  .logo {
    margin-top: 5px;
    margin-right: 50%;
  }
  .hello-text {
    margin: 10px;
  }
  .profile-picture {
    margin-top: 30px;
    height: 200px;
    width: 200px;
  }
  h1 {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  h2 {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-links {
    overflow-x: hidden;
    position: absolute;
    right: 0px;
    top: 50px;
    background-color: black;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    height: 60vh;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    color: white;
  }
  .burger {
    display: block;
  }
  .project01,
  .project02,
  .project03,
  .project04,
  .project05,
  .project06,
  .project07,
  .project08 {
    padding-top: 80px;
  }
  .picture01,
  .picture02,
  .picture03,
  .picture04,
  .picture05,
  .picture06,
  .picture07,
  .picture08 {
    height: 200px;
  }
  h3 {
    font-size: 1.6em;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  p {
    font-size: 1.3em;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .project05 h3 {
    font-size: 1.3em;
  }
  .project05 p {
    font-size: 1.2em;
  }

  .button1,
  .button2 {
    margin: 10px;
    margin-top: 20px;
    font-size: 0.8em;
    height: 50px;
    width: 130px;
  }
  .form_container {
    width: 90%;
  }
  .contact {
    width: 80%;
  }
  .about_left {
    height: 40%;
  }
  .profile_about {
    width: 250px;
    height: 250px;
  }
  h4.bio_title {
    font-size: 1.5em;
  }
  h4.bio {
    font-size: 1.2em;
  }
}

/* @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) { */
@media screen and (max-width: 390px) {
  body {
    overflow-x: hidden;
  }
  nav {
    height: 50px;
  }
  #logo {
    height: 30px;
  }
  .burger {
    margin-left: 50px;
  }

  .logo {
    margin-top: 5px;
    margin-right: 100px;
  }
  .hello-text {
    margin: 10px;
  }
  .profile-picture {
    margin-top: 30px;
    height: 200px;
    width: 200px;
  }
  h1 {
    margin-top: 100px;
    font-size: 1.7em;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .scroll {
    bottom: 10px;
  }
  .nav-links {
    display: none;
    width: 100%;
    height: 60vh;
    top: 50px;
  }
  .project01,
  .project02,
  .project03,
  .project04,
  .project05,
  .project06,
  .project07,
  .project08 {
    padding-top: 10px;
  }
  .picture01,
  .picture02,
  .picture03,
  .picture04,
  .picture05,
  .picture06,
  .picture07,
  .picture08 {
    height: 220px;
  }
  h3 {
    font-size: 1.3em;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  p {
    font-size: 1em;
    margin-bottom: 15px;
    margin-top: 0px;
  }

  .project05 h3 {
    font-size: 1em;
  }
  .project05 p {
    font-size: 0.9em;
  }

  .button1,
  .button2 {
    margin: 10px;
    margin-top: 20px;
    font-size: 0.8em;
    height: 50px;
    width: 130px;
  }
  .form_container {
    font-size: 12px;
    width: 90%;
    height: 70%;
    padding: 5px 15px;
  }
  .contact {
    width: 95%;
    height: 90%;
  }
  .contact_me {
    margin-bottom: 20px;
  }
  input,
  textarea {
    font-size: 10px;
  }

  textarea {
    height: 130px;
    margin-bottom: 0px;
  }
  #send {
    height: 40px;
    width: 100px;
  }
  h4.bio_title {
    font-size: 1em;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  .about_left {
    height: 35%;
  }

  .about_left {
    padding-top: 0px;
  }

  h4.bio {
    font-size: 0.8em;
    line-height: 2em;
  }
  .profile_about {
    width: 150px;
    height: 150px;
  }
  .face,
  .git {
    width: 25px;
    height: 25px;
  }
  .network {
    height: 60px;
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navFade {
  from {
    transform: translateX(340px);
  }
  to {
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
  display: flex;
  transform: translateX(0%);
  animation: navFade 1s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}
