* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: transparent;
}

img {
  margin-top: 5px;
  cursor: pointer;
}
img:hover {
  opacity: 0.7;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: honeydew;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

.nav-links {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  opacity: 0.7;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.burger:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    overflow-x: hidden;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  #backgroundvideo {
    display: none;
  }
  body {
    background: url("./src/background_video_picture.jpg");
    background-size: auto;
    background-repeat: no-repeat;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#backgroundvideo {
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: -100;
}

@media (min-aspect-ratio: 16/9) {
  #backgroundvideo {
    top: 0;
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #backgroundvideo {
    top: 0;
    width: auto;
    height: 100%;
  }
}

.backgroundopacity {
  background-color: black;
  width: 100%;
  height: 100%;

  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  z-index: -10;
}
/* .frontmessage {
  background-color: white;
  width: 80%;
  height: 60%;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  z-index: -9;
} */

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills li {
  color: white;
  display: inline-flex;
  justify-content: center;
  width: 600px;
  margin-bottom: 30px;
}

#skills h2 {
  padding: 30px;
}
#skills svg {
  margin-top: 30px;
}

.button {
  border: white solid 2px;
  padding: 20px;
  margin-top: 40px;
  width: 250px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.button:hover {
  opacity: 0.5;
}
