* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: transparent;
}

.logo {
  margin-top: 20px;
  cursor: pointer;
}
.logo:hover {
  opacity: 0.5;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  opacity: 0.5;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.burger:hover {
  opacity: 0.7;
}

.profile-picture {
  background-image: url("./src/profile/profile.jpg");
  background-size: 255px 255px, cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5vh;
}

.hello {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hello-text {
  text-align: center;
  margin: 50px;
}

h1 {
  margin: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 3em;
}

.main-container ul {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  height: 30vh;
}

#skills li {
  color: black;
  display: inline-flex;
  justify-content: center;
  width: 40%;
  text-align: center;
}

#skills h2 {
  padding: 30px;
}
#skills svg {
  margin-top: 30px;
}

.button {
  transform: scale(1);
  transition: transform 0.2s ease-in;
  border-radius: 30px;
  border: solid black 2px;
  padding: 20px;
  margin-top: 40px;
  width: 250px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
.button:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.2s ease-in;
}

/* #web-button {
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
#design-button {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
} */

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    overflow-x: hidden;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: black;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    color: white;
  }

  .burger {
    display: block;
  }
}

@media screen and (max-width: 1175px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
  .hello {
    display: block;
  }
  .profile-picture {
    margin-left: auto;
    margin-right: auto;
  }
  .main-container ul {
    display: block;
    justify-content: center;
  }

  #skills li {
    color: black;
    display: block;
    justify-content: center;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* ///////////////////////////////////////////////// */

/* The Modal (background) */
#myModal {
  display: none;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.modal-body {
  padding: 2px 16px;
}
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
  body {
    overflow-x: hidden;
  }
  nav {
    height: 15vh;
  }
  .logo {
    margin-top: 5px;
  }
  .hello-text {
    margin: 10px;
  }
  .profile-picture {
    margin-top: 50px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  .nav-links {
    display: none;
    width: 60%;
    top: 15vh;
    height: 77vh;
  }
}
.nav-active {
  display: flex;
  transform: translateX(0%);
  animation: navFade 1s ease;
}

@keyframes navFade {
  from {
    transform: translateX(340px);
  }
  to {
    transform: translateX(0px);
  }
}

.project01 {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  background-color: rgb(236, 236, 236);
}

.project01 h3,
.project01 p {
  margin-bottom: 40px;
  font-size: 1.5em;
}

.buttons01 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.picture01,
.picture02,
.picture03,
.picture04,
.picture05,
.picture06,
.picture07,
.picture08 {
  height: 100%;
  width: 50%;
  background: url(./src/apps_pictures/pokedex_app.png) no-repeat center center;
  background-size: contain;
}

.picture02 {
  background: url(./src/apps_pictures/weather_app.png) no-repeat center center;
  background-size: contain;
}
.picture03 {
  background: url(./src/apps_pictures/movie_app.png) no-repeat center center;
  background-size: contain;
}
.picture04 {
  background: url(./src/apps_pictures/meditation_app.png) no-repeat center
    center;
  background-size: contain;
}
.picture05 {
  background: url(./src/apps_pictures/rock.png) no-repeat center center;
  background-size: contain;
}

.picture06 {
  background: url(./src/apps_pictures/calc_app.png) no-repeat center center;
  background-size: contain;
}
.picture07 {
  background: url(./src/apps_pictures/26.png) no-repeat center center;
  background-size: contain;
}
.picture08 {
  background: url(./src/apps_pictures/milion.png) no-repeat center center;
  background-size: contain;
}

.right01 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

.buttons01 button {
  margin: 10px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: lawngreen;
}

.buttons01 button:hover {
  background-color: rgb(133, 211, 56);
}

#test {
  display: block;
  height: 300px;
  width: 100%;
  background-color: lightgrey;
}
